<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading"><h3>Sign in</h3></div>
		  <div class="panel-body">
			<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

				<%= f.input :email %>
				<%= f.input :password %>

			  <% if devise_mapping.rememberable? -%>
			    <div><%= f.input :remember_me, as: :boolean %></div>
			  <% end -%>

			  
				<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
				    Sign in
				  <% end %>
			
			<% end %>
			
			</div>
			<div class="panel-footer"><%= render "devise/shared/links" %></div>
		</div>
	</div>
	<div class="col-md-8">
		<h2></h2>
	</div>
</div>