<%%= form_for @status do |f| %>
  <%%= f.error_notification %>

  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

	<div class="field">
    <%= f.label :content %><br>
    <%= f.file_field :content, class: "form-control"%>
  </div>
	

	<div class="actions">
    <%= f.submit %>
  </div>
<%% end %>
